body {
    background-color: #ffedcf;
}
h1[class="wel"] {
    text-align: center;
}
#p{
    display: inline-block;
    position: absolute;
    top: 55px;
}
.wel, #p {
    cursor: default;
}
#d{
    margin-left:-50px;
}
.pls {
    top: 30px;
    position: absolute;
    width: 50px;
}
.btn1 {
    width: 30px;
    height: 30px;
    margin-top: 2px;
    background-color: #cd3f3f;
    border-radius: 20px 20px 20px 20px;
    border: none;
    margin-right: 3px;
    cursor: pointer;
}

.active {
    background-color: #67e867;
}
